<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title></title>Ошибка - Server-ui (Toll system)</head>
<body>
<h1 th:inline="text">Ошибка прав доступа!</h1>
<p> Проверьте, имеет ли пользователь доступ к странице</p>
<p></p>
<input type="button" onclick="history.back();" value="Назад"/>
<a href="#" onclick="history.back();">Назад</a>
<p></p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти из системы"/>
</form>
</body>
</html>