<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Оплатить онлайн - Server-ui (Toll system)</title>
</head>
<body>
<h1>Страница оплаты online</h1>
<p></p>
<input type="button" onclick="history.back();" value="Назад"/>
<p></p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти из системы"/>
</form>
</body>
</html>